
<% skill.each do |skill| %>
<div class="card">
  <div class="card-header">
    <%= link_to "Add Skill", new_skill_path, remote: true %><br>
  </div>
  <div class="card-body">
    <p class="card-text">Skills => <%= skill.skill %></p>
    <%= link_to "Edit Skill", edit_skill_path(skill), remote: true %><br>
    <%= link_to "Delete", skill_path(skill), data:{
  method: :delete,
  confirm: :"Are you sure"
} %>
  </div>
</div>
  <% end %>
