   <h4>Educations</h4> <br>
   
    <div id="ed">
      <%= link_to "Add Education", new_education_path, remote: true %><br>
    </div>
    <div class="edit-education">
<ul id="edu">
  <%= render @educations %>
</ul>

